<div class="about">
        <div class="container">
            <div class="box">
                <div class="box-wrapper">
                    <div class="left-side">
                        <img src="../../assets/images/image1.jpg" alt="">
                    </div>
                    <div class="right-side">
                        <div class="text-wrapper">
                            <h1 class="with-line">WHO WE ARE</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid voluptate ipsum ex, enim quasi nobis magnam voluptatem delectus beatae. Fugiat vero? Molestias ab totam minima!</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat incidunt, delectus rerum fuga facere culpa. Fuga dolore corporis nostrum unde, dolorum labore quod. Nulla quisquam id cupiditate minus libero sequi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-wrapper">
                        <div class="left-side">
                                <img src="../../assets/images/image1.jpg" alt="">
                            </div>
                    <div class="right-side">
                        <div class="text-wrapper">
                            <h1 class="with-line">WHO WE ARE</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid voluptate ipsum ex, enim quasi nobis magnam voluptatem delectus beatae. Fugiat vero? Molestias ab totam minima!</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat incidunt, delectus rerum fuga facere culpa. Fuga dolore corporis nostrum unde, dolorum labore quod. Nulla quisquam id cupiditate minus libero sequi.</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <footer-root></footer-root>