@font-face {
    font-family: Questrial;
    src: url('/assets/fonts/questrial.otf');
}
@font-face {
    font-family: Raleway;
    src: url('/assets/fonts/raleway.ttf');
}

h1{
    color: #474747;
    font-family: Questrial,'Open Sans', sans-serif;

    &.with-line{
        position: relative;
        display: inline-block;
        &:after{
            content: '';
            position: absolute;
            height: 2px;
            border-bottom: 1px solid #11409d;
            border-top: 1px solid #11409d;
            top: 15px;
            width: 100px;
            left: 100%;
            margin-left: 20px;
       }
   }
}

.about{
    background: linear-gradient(90deg, #fff (10px - 2px), transparent 1%) center, linear-gradient(#fff (10px - 2px), transparent 1%) center, #7777771e;
    background-size: 10px 10px;

    .container{
        height: 100%;

    }

    header{
        height: 400px;  
        width: 100%;
        background: url('/assets/images/teamwork.jpg') 100% 60%;

        .container{

            h1{
                position: absolute;
                top: 50%;
                color: #fff;
                font-size: 4rem;
            }
        }
    }


}
@media screen and (max-width: 1200px) {

}