<header>
  <div class="container">
    <div class="header-text">
      <h1>LEARN FROM THE PAST</h1>
      <h1>PREPARE FOR THE FUTURE</h1>
    </div>
  </div>
</header>
<div class="info">
  <div class="container">
    <div class="heading">
     <h1 class="with-line">SPECIALIST AGENCY</h1>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores impedit reiciendis possimus soluta quas praesentium pariatur eum quam doloremque. Ipsam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus tempore illum similique minima culpa amet dicta inventore, rerum praesentium, laudantium quisquam iusto tempora ratione minus suscipit repellendus asperiores perspiciatis dolorum!</p>
    </div>
    <div class="content">
      <div class="images left">
          <img src="../../assets//images//image1.jpg" alt="">
      </div>
      <div class="arrowbox left to-left">
        <p>Lorem ipsum dolor sit amet.</p>
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veritatis est earum!</p>
      </div>
      <div class="images left go-right">
          <img src="../../assets//images//image3.jpg" alt="">
        </div>
            <div class="arrowbox right to-up">
              <p>Lorem ipsum dolor sit amet.</p>
              <h3>Lorem ipsum dolor sit.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veritatis est earum!</p>
            </div>
      <div class="images right go-left">
          <img src="../../assets//images//image2.jpg" alt="">
      </div>
      <div class="arrowbox right to-right go-left">
          <p>Lorem ipsum dolor sit amet.</p>
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veritatis est earum!</p>
        </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="heading">
       <h1 class="with-line">OUR SERVICES</h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur ipsa temporibus, veniam esse sapiente. Sapiente distinctio est ipsum voluptatum!</p>
    </div>
    <div class="service-wrapper">
        <div class="service" id="service">
           <div class="logo">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="text">
            <h3>WE WILL DO</h3>
            <h3>Ordering notes
              </h3>
          </div>
      </div>
      <div class="service" id="service">
          <div class="logo">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="text">
                <h3>LET US</h3>
                <h3>Planning time right

                  </h3>
              </div>
      </div>
      <div class="service" id="service">
          <div class="logo">
              <i class="fa fa-user-o"></i>
            </div>
            <div class="text">
                <h3>FOR THEIR HAPPINESS
                  </h3>
                <h3>Staff meetings

                  </h3>
              </div>
      </div>
      <div class="service" id="service">
          <div class="logo">
              <i class="fa fa-book"></i>
            </div>
            <div class="text">
                <h3>FREE FROM PROBLEMS
                  </h3>
                <h3>Checking taxes

                  </h3>
              </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonial">
  <div class="container">
    <div class="heading">
      <h1 class="with-line">HAPPY CLIENTS</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In distinctio repellat minima dicta esse excepturi reiciendis et rem, ipsa perspiciatis?</p>
    </div>
    <div class="testimony">
      <i class="fa fa-quote-right"></i>
      <div class="text-wrapper">
        <p [@fade]="fadeState">{{testimonies[testimonyIndex].testimony}}</p>
        <h3>{{testimonies[testimonyIndex].name}}</h3>
        <div class="dots">
            <div class="dot" *ngFor="let length of testimonies;"></div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="heading">
      <h1 class="with-line">GET IN TOUCH</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim unde repudiandae vel corrupti est dolore alias aperiam quia accusamus atque.</p>
    </div>
    <div class="boxes">
      <div class="box">
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" id="fullname">
      </div>
      <div class="box">
          <label for="fullname">Phone</label>
          <input type="number" name="fullname" id="fullname">
        </div>
        <div class="box">
            <label for="fullname">Email</label>
            <input type="email" name="fullname" id="fullname">
        </div>
        <div class="submit">
          <a href="#">Submit</a>
        </div>
    </div>    
  <p>Specialist Agency 2018 &copy; All Rights Reserved</p>
  </div>
</div>