<div class="contact">
    <div class="container">
        <div class="info">
            <h1>Call US</h1>
            <div class="info-wrapper">
                <p>Info</p>
                <p>Tel: 2326-5454-234</p>
                <p>Fax: 2326-5454-234</p>
                <p>Email: contact@email.com</p>
            </div>
            <div class="address">
                <p>Address</p>
                <p>84 Emerald Nook,</p>
                <p>Freeland Kansas</p>
                <p>United Kingdom   </p>
            </div>
            <div class="follow">
                <p>Follow us</p>
                <p>Share and like</p>
            </div>
        </div>
        <div class="form">
            <form action="#">
                <div class="wrapper">
                    <label for="name">Name</label>
                    <input type="text">
                </div>
                <div class="wrapper">
                    <label for="email">Email</label>
                    <input type="email">
                </div>
                <div class="wrapper">
                    <label for="phone">Phone</label>
                    <input type="phone">
                </div>
                <div class="wrapper">
                    <label for="message">Message</label>
                    <input type="text" name="message" id="message">
                </div>
            </form>
        </div>
    </div>
</div>
<footer-root></footer-root>