@font-face {
    font-family: Raleway;
    src: url('/assets/fonts/raleway.ttf');
  }

.contact {
    header{
        height: 400px;
        width: 100%;
        background-position: 20% 30%;
        background-image: url('/assets/images/image6.jpg');

        .container{
            height: 100%;
            
            h1{
                position: absolute;
                top: 50%;
                font-size: 4rem;
                font-family: Raleway;
                color: #fff;
            }
        }
    }
    
    > .container{
        padding: 50px 0px;
        
        .wrapper{

            h1{
                display: inline-block;
                position: relative;
                font-weight: 300;

                &:after{
                    content: '';
                    height: 2px;
                    position: absolute;
                    border-top: 1px solid #11409d;
                    border-bottom: 1px solid #11409d;
                    top: 20px;
                    width: 60px;
                    left: 100%;
                    margin-left: 20px;
                }
            }
        }
        .info{
            display: inline-block;
            vertical-align: top;
            width: 30%;

            .info-wrapper, .address, .follow{
                padding: 10px 0px;

                p{
                    font-weight: 300;
                    
                    &:nth-child(1) {
                        padding: 10px 0px;  
                        margin: 15px 0px;
                        font-size: 1.2rem;
                    }

                    &:nth-child(n+2) {
                        font-family: Raleway;
                        color: rgb(71, 71, 71);
                    }
                }
            }
        }
        .form{
            display: inline-block;
            vertical-align: top;
            width: 65%;

            form{
                background: #fff;
                box-shadow: rgb(204, 204, 204) 0px 0px 27px 0px;
                width: 90%;
                height: auto;
                padding: 5%;
                
                .wrapper{
                    margin: 30px 0px;

                    label{
                        display: block;
                        margin: 5px 0px;
                        font-weight: 300;
                        color: #787878;
                        font-family: "Open Sans", sans-serif;
                        color: rgb(71, 71, 71);
                    }
                    input, textarea{
                        display: block;
                        width: 100%;
                        border: 1px solid rgb(222, 222, 222);
                    }

                    input{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        height: 40px;
                        padding: 0px 5px;
                        -moz-appearance: textfield;

                        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                          -webkit-appearance: none;
                        }
                    }
                    textarea{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        padding: 5px;
                        font: 400 13.3333px Arial;
                        height: 300px;
                        resize: none;
                    }

                    small {
                        margin-top: 5px;
                        font-size: 0.9rem;
                        font-weight: 400;
                        font-family: sans-serif;
                        display: block;
                        color: crimson;
                    }
                }
                button{
                    border: none;
                    color: #fff;
                    background: #2e6de9;
                    padding: 10px 20px;
                    text-align: right;
                }
            }
        }
        .map-ctn{
            display: block;
            width: 100%;
        }
    }
}
@media screen and (max-width: 968px) {
    .contact{
        >.container{
            .info, .form{
                display: block;
                width: 100%;
            }
        }
    }
}