<div class="contact">
    <header>
        <div class="container">
            <h1>Contact Us</h1>
        </div>
    </header>
    <div class="container">
            <div class="wrapper">
                    <h1>Call US</h1>
                </div>
        <div class="info">
            <div class="info-wrapper">
                <p>Info</p>
                <p>Tel: 2326-5454-234</p>
                <p>Fax: 2326-5454-234</p>
                <p>Email: contact@email.com</p>
            </div>
            <div class="address">
                <p>Address</p>
                <p>84 Emerald Nook,</p>
                <p>Freeland Kansas</p>
                <p>United Kingdom</p>
            </div>
            <div class="follow">
                <p>Follow us</p>
                <p>Share and like</p>
            </div>
        </div>
        <div class="form">
            <form #f="ngForm" [formGroup]="contactForm" (submit)="onSubmit(f)">
                <div class="wrapper">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name">
                    <small *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched">Name is required</small>
                </div>
                <div class="wrapper">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email">
                    <small *ngIf="!contactForm.controls['email'].value && contactForm.controls['email'].touched">Email is required</small>
                    <small *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched && contactForm.controls['email'].value">Email is not valid</small>
                </div>
                <div class="wrapper">
                    <label for="phone">Phone</label>
                    <input type="number" formControlName="phone">
                    <small *ngIf="!contactForm.controls['phone'].valid && contactForm.controls['phone'].touched">Phone is not valid</small>
                
                </div>
                <div class="wrapper">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" formControlName="message"></textarea>
                    <small *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">Message should be atleast 50 characters.</small>
                </div>
               <button type="submit" [disabled]="!contactForm.valid">Submit</button>
            </form>
        </div>
    </div>
    <div class="map-ctn">
        <div #googlemap style="width: 100%; height: 500px;"></div>
    </div>
</div>
<footer-root></footer-root>