<nav>
  <div class="container">
    <div class="logo">
      <a routerLink="/"><h1>Specialist Agency</h1></a>
    </div>
    <div class="links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="about">About Us</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="contact">Contact Us</a></li>
    </div>
    <div class="hamburger" (click)="animateNavbar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menus" [@animatenavbar]="navbarState">
      <ul>
        <li><a routerLink="/" (click)="animateNavbar()">Home</a></li>
        <li><a routerLink="about" (click)="animateNavbar()">About</a></li>
        <li><a routerLink="services" (click)="animateNavbar()">Services</a></li>
        <li><a routerLink="contact" (click)="animateNavbar()">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>