<footer>
    <div class="container">
        <div class="section">
            <p>All rights reserved &copy;</p>
        </div>
        <div class="section">
                <p>65 Carriers Road</p>
                <p>Crimond</p>
                <p>AB43 0GZ</p>
            </div>
            <div class="section">
                    <p>Tel: +4478 7504 6760</p>
                    <p>Email: contact@specialistagency.com</p>
                </div>
                <div class="section">
                        <p>All rights reserved &copy;</p>
                </div>
    </div>
</footer>