footer{
    width: 100%;
    height: auto;
    background: #2e6de9;
    
    .container{
        display: flex;
        height: auto;
        padding: 50px 0px;

        p{
            color: #fff;
            margin: 5px 0px;
        }

        .section{
            flex: 1;
      
            .logo{
                display: inline-block;
                margin: 5px;
                img{
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 968px) {
    footer{
        .container{
            display: block;

            .section{
                margin: 10px 0px;
                display: inline-block;
                width: 49%;
                vertical-align: top;
            }
        }
    }
}
@media screen and (max-width: 968px) {
    footer{
        .container{
            display: block;

            .section{
                margin: 10px 0px;
                width: 100%;
            }
        }
    }
}