footer{
    width: 100%;
    height: auto;
    background: #2e6de9;
    
    .container{
        display: flex;
        height: auto;
        padding: 50px 0px;

        p{
            color: #fff;
            margin: 5px 0px;
        }

        .section{
            flex: 1;
        }
    }
}